.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin: 90px auto;
}

.home-img {
  transform: scale();
  margin-top: 50px;
  border: none;
  gap: 30px;
  border-radius: 5rem;
  max-width: 700px;
  border-bottom: 50px black;
  background-color: transparent;
  animation: forwards;
  animation-duration: 2s;
  box-shadow: 5px 5px 10px 5px rgb(190, 187, 187);
}

.home-title {
  top: 0;

  font-size: 3em;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
}

.home-title span {
  font-size: 2em;
  color: var(--mainRed);
}

.sub-title-home span {
  font-size: 1em;
  color: var(--mainRed);
  font-weight: bold;
  background-color: white;
  border-radius: 0.3rem;
}

.sub-title-home {
  font-size: 2em;
  color: var(--mainWhite);
  background-color: var(--mainBlue);
  padding: 5px 10px;
  border-radius: 0.5rem;
}
