.player-list {
  padding: 15px 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 15px;
}

.player-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.238);
}

.player-list .player-actions {
  padding-block: 0.5rem;
  border-top: 1px solid gray;
  text-align: center;
}

.player-list .player-actions .remove-btn {
  position: absolute;
  top: 0;
  right: 0;
}

button {
  background-color: var(--gray3);
  color: white;
}
